<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/images/pcelica.png" alt="logo" class="mb-5" style="width:81px; ">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">We are sorry for your loss! :?</div>
                    <span class="text-600 font-medium">Enter your email to reset password</span>
                </div>
            
                <div class="w-full md:w-10 mx-auto">
                <form [formGroup]="forgotPasswordForm">
                    <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email" type="text" placeholder="Email address" formControlName="email" pInputText class="w-full mb-3" style="padding:1rem;">
                    <button pButton pRipple [disabled]="!forgotPasswordForm.valid" label="Request password reset" class="w-full p-3 text-xl"></button>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>