<div class="card">
    <h5>{{ user.firstName ? user.firstName + ' ' + user.lastName : "New User" }}</h5>
    <br>
    <form
        [formGroup]="editUserForm"
        (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-4">
                <label for="firstName">First Name</label>
                <input
                    formControlName="firstName"
                    pInputText
                    id="firstName"
                    type="text"/>
            </div>
            <div class="field col-12 md:col-4">
                <label for="lastName">Last Name</label>
                <input
                    formControlName="lastName"
                    pInputText id="lastName"
                    type="text"/>
            </div>
            <div class="field col-12 md:col-4">
                <label for="email">Email</label>&nbsp;<i class="fa-solid fa-star-of-life"
                                                        [ngStyle]="{color:'var(--pink-500)'}"></i>
                <input
                    type="email"
                    formControlName="emailAddress"
                    pInputText
                    id="email"/>
                <small *ngIf="email.dirty && email.errors?.['required']" class="p-error">Email is required.</small>
                <small *ngIf="email.dirty && email.errors?.['email']" class="p-error">Email address is invalid.</small>
            </div>
            <div class="field col-12 md:col-4">
                <label for="email">Password</label>&nbsp;<i class="fa-solid fa-star-of-life"
                                                            [ngStyle]="{color:'var(--pink-500)'}"></i>
                <input
                    formControlName="password"
                    pInputText
                    id="password"
                    type="text"/>
                <small *ngIf="password.dirty && password.errors?.['required']" class="p-error">Password is
                    required.</small>
            </div>
            <div style="margin-top:23px" class="field col-12 md:col-2">
                <label for="active">Active</label>
                <p-checkbox [binary]="true"
                [formControl]="active"
                    id="active"
                >
                </p-checkbox>
            </div>

            <div *ngIf="user.lastLoggedOn" class="field col-12 md:col-12">
                Last logged on:
                <h5> {{ user.lastLoggedOn | date:'full' }}</h5>

            </div>

        </div>
        <hr>
        <p-messages severity="warn" *ngIf="editUserForm.invalid">
            <ng-template pTemplate>
                <i class="pi pi-exclamation-triangle" style="font-size: 2rem"></i>
                <div class="ml-2">Please fill in all the required fields.</div>
            </ng-template>
        </p-messages>
        <button
            type="button"
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-list"
            class="p-button-secondary mr-2"
            (click)="onCancel()"
        >
        </button>
        <button
            [disabled]="editUserForm.invalid"
            pButton
            pRipple
            label="Save"
            icon="pi pi-plus"
            class="p-button-success mr-2">
        </button>

    </form>
</div>
