<div class="layout-wrapper" [ngClass]="{'layout-overlay':isOverlay(),
                                'layout-static':isStatic(),
                                'layout-theme-light':true,
                                'layout-theme-dark':false,
                                'layout-overlay-sidebar-active': overlayMenuActive,
                                'layout-static-sidebar-inactive': staticMenuInactive,
                                'layout-mobile-sidebar-active':menuActiveMobile,
                                'p-ripple-disabled': false, 'p-input-filled': true}">
    <administration-topbar></administration-topbar>
    <div class="layout-sidebar">
        <administration-menu></administration-menu>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
    </div>
        <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>
</div>
